// ============================================= 
//                  Base style                      
// =============================================


a {

text-decoration-style: none;
text-decoration: none;
color: white; //The True Color Font

}