// ============================================= 
//Grid Systems                      
// =============================================
  

.grid {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-column-gap: 100px;
    grid-row-gap: 220px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}












